name: Node.js CI

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v19

      - name: Echo the changed files
        id: changed
        run: |
          a=""
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            if [[ $file == *.js || $file == *.jsx || $file == *.ts || $file == *.tsx ]]; then
            a="${a} ${file}"
            fi
          done
          echo "changed_file=$a" >> $GITHUB_OUTPUT
      - name: Use Node.js 
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'

      - run: npm ci 
      - run: npm run build 
      - run: npm run lint -- ${{ steps.changed.outputs.changed_file }} 